<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="product(produtos)">
    <div class="col-sm-4" th:each="produto : ${produtos}">
        <div class=" product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img th:src="${produto.imagem}" alt=""/>
                    <h2 th:text="'R$ ' + ${#numbers.formatDecimal(produto.valor,2,'POINT',2,'COMMA')}">
                        $56</h2>
                    <p th:text="${produto.nome}">nome</p>
                    <button type="button" class="btn btn-default add-to-cart"
                       th:attr="onclick=|adicionarProduto('${produto.id}', '${produto.nome}', '${produto.imagem}', '${produto.valor}')|">
                        <i class="fa fa-shopping-cart"></i>Adicionar ao carrinho</button>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2 th:text="'R$ ' + ${#numbers.formatDecimal(produto.valor,2,'POINT',2,'COMMA')}">$56</h2>
                        <p th:text="${produto.nome}">nome</p>
                        <button type="button" class="btn btn-default add-to-cart"
                           th:attr="onclick=|adicionarProduto('${produto.id}', '${produto.nome}', '${produto.imagem}', '${produto.valor}')|">
                        <i class="fa fa-shopping-cart"></i>Adicionar ao carrinho</button>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li>
                        <a th:href="@{/produto/{id}(id=${produto.id})}"><i class="fa fa-eye"></i>Ver produto</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-plus-square"></i>Add na wishlist</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</html>