<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>E-SHOPPER</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">

    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="shortcut icon" th:href="@{/images/favshop.ico}" type="image/x-icon">

</head>

<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img alt="E-SHOPPER" th:src="@{/images/home/logo.png}"/>
        </div>

        <form th:action="@{/usuario}" th:object="${usuario}" method="POST">
            <div th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                <input type="email" th:field="*{email}" class="fadeIn second" placeholder="email">
                <p class="error-message" th:each="error: ${#fields.errors('email')}" th:text="${error}">Error</p>
            </div>
            <div  th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                <input type="text" th:field="*{username}" class="fadeIn third" placeholder="usuário">
                <p class="error-message" th:each="error: ${#fields.errors('username')}" th:text="${error}">Error</p>
            </div>
            <div th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                <input type="password" th:field="*{password}" class="fadeIn fourth" placeholder="senha">
                <p class="error-message" th:each="error: ${#fields.errors('password')}" th:text="${error}">Error</p>
            </div>
            <input type="submit" class="fadeIn fifth" value="Criar" style="background: #FE980F">
            <div class="alert alert-danger" th:if="${#bools.isTrue(param.error)}">
                O usuário e/ou senha inválido(s)!
            </div>
        </form>

        <div id="formFooter">
            <a class="underlineHover" style="color: #FE980F" th:href="@{/login}">Já é cadastrado? Entre</a>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>